
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectEvaluation/chefhesab.projects.v7.bin
.vs/ProjectEvaluation/chefhesab.metadata.v7.bin
.vs/ChefHesab/v17/workspaceFileList.bin
.vs/ChefHesab/v17/HierarchyCache.v1.txt
.vs/ChefHesab/v17/fileList.bin
.vs/ChefHesab/v17/DocumentLayout.json
.vs/ChefHesab/v17/.wsuo
.vs/ChefHesab/v17/.suo
.vs/ChefHesab/v17/.futdcache.v2
.vs/ChefHesab/FileContentIndex/e2373dbb-12f1-4884-a305-fecd44f7cd2b.vsidx
.vs/ChefHesab/FileContentIndex/b26b00cb-87c0-4e86-8e6c-e85158286569.vsidx
.vs/ChefHesab/FileContentIndex/a8588baf-bae6-4953-a0af-a80db7fa99b8.vsidx
.vs/ChefHesab/FileContentIndex/a0c6f356-4c8b-4545-aab8-626cff72dd49.vsidx
.vs/ChefHesab/FileContentIndex/8526682b-b454-4229-a825-e0afd1c5ed10.vsidx
.vs/ChefHesab/FileContentIndex/8253fb93-f856-49cc-bbb8-9a3d258d389e.vsidx
.vs/ChefHesab/FileContentIndex/63b57b4a-ce80-4c84-ae73-5a949edbf6b7.vsidx
.vs/ChefHesab/FileContentIndex/486baf03-8825-481d-83eb-8ff1aca86cfc.vsidx
.vs/ChefHesab/FileContentIndex/382a0371-cc78-4478-85f5-3fcc56887b40.vsidx
.vs/ChefHesab/FileContentIndex/195f72c9-5246-4b25-999f-b4832f26f904.vsidx
.vs/ChefHesab/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/chefhesab.projects.v7.bin
.vs/ProjectEvaluation/chefhesab.metadata.v7.bin
.vs/ChefHesab/v17/HierarchyCache.v1.txt
.vs/ChefHesab/v17/.suo
.vs/ChefHesab/v17/.futdcache.v2
.vs/ChefHesab/FileContentIndex/e2373dbb-12f1-4884-a305-fecd44f7cd2b.vsidx
.vs/ChefHesab/FileContentIndex/b26b00cb-87c0-4e86-8e6c-e85158286569.vsidx
.vs/ChefHesab/FileContentIndex/a0c6f356-4c8b-4545-aab8-626cff72dd49.vsidx
.vs/ChefHesab/FileContentIndex/8253fb93-f856-49cc-bbb8-9a3d258d389e.vsidx
.vs/ChefHesab/FileContentIndex/486baf03-8825-481d-83eb-8ff1aca86cfc.vsidx
.vs/ChefHesab/DesignTimeBuild/.dtbcache.v2
/.vs/ChefHesab/FileContentIndex
