@model FoodProviderVM
@{
    Layout = null;
}
<div style=" overflow: auto; height: calc(100% - 70px); padding: 10px" class="relative flex-auto p-4" data-twe-modal-body-ref id="ModalConent">
   
</div>