<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div id="SearchBox" class="col-start-0 col-end-1">
    <div class=" p-0">

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header mb-0 bg-sky-500/100">
                    <button class="accordion-button relative flex items-center w-full py-4 px-5 text-base text-white text-left  border-0 rounded-none transition focus:outline-none" type="button">
                        <b> جستجو</b>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-content bg-white show ">
                    <div class="accordion-body py-4 px-5">
                    </div>
                </div>
            </div>
            <!-- ... سایر آیتم‌های اکوردیون ... -->
        </div>
    </div>

</div>