@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center">
    <img src="/images/logoChef.png" class="img-fluid" />
    <h1 class="display-4">ChefHesab</h1>
    <p>سیستم مدیریت مناقصات رستوران ها</p>
</div>
