
@Html.DalirWindow()

<div class="grid grid-col-1">

    <div class="mt-2 k-rtl" id="GridBox">
        <div id="CompanyGrid"></div>
    </div>
</div>

@section scripts {
    <script>

        $(document).ready(function (e) {
            $("#CompaniesMenu").addClass("mm-active")
            renderCompanyComboBox("#Company")
            bindCompanyGrids();
            $("#CompanyGrid").find(".k-grid-add").click(function (e) {
                ShowPopup(null, "/Define/Companies/Create", "اضافه کردن شرکت جدید", "600px", "auto", refreshGrid)
                //ShowPopup("#window", "/Define/Companies/Create", "اضافه کردن شرکت جدید", "600px", "auto", refreshGrid)
            });

        });


        function bindCompanyGrids() {
            var record = 0;

            $("#CompanyGrid").kendoGrid({

                toolbar: ["create", "excel"],
                dataSource: {
                    transport: {
                        read: {
                            url: "/Define/Companies/GetAllByKendoFilter",
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json",
                        },

                        parameterMap: function (data, operation) {
                            if (operation != "read") {
                                return data;
                            } else {
                                return JSON.stringify(data);
                            }
                        }
                    },
                    pageSize: 20,
                    autoSync: true,
                    schema: {
                        data: "Data",
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, nullable: true },
                                CompanyName: { type: "string", editable: false },
                                AgreementPeriod: { type: "number", editable: false },
                                AgreementDate: { type: "date" },
                                ExpirationDate: { type: "date", editable: false },
                                AgreementNumber: { type: "number" },

                            }
                        }
                    }
                },
                columnMenu: {
                    filterable: true
                },

                editable: false,
                dataBinding: function () {
                    record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
                },
                pageable: {
                    pageSizes: [10, 25, 50, 100],
                    refresh: true,
                    messages: {
                        display: "{0} تا {1} از {2} رکورد",
                        //{0} is the index of the first record on the page, {1} - index of the last record on the page, {2} is the total amount of records
                        empty: "رکوردی برای نمایش وجود ندارد.",
                        page: "صفحه",
                        of: "از {0}", //{0} is total amount of pages
                        itemsPerPage: "رکورد در صفحه",
                        first: "صفحه نخست",
                        previous: "صفحه قبل",
                        next: "صفحه بعد",
                        last: "صفحه آخر",
                        refresh: "دوباره سازی"
                    }
                },
                sortable: true,
                navigatable: true,
                resizable: true,
                reorderable: true,

                filterable: true,

                pdfExport: function (e) {
                    const width = e.sender.wrapper.width();
                    e.sender.wrapperClone.width(width);
                    e.sender.wrapperClone.addClass('k-clone');
                },
                columns: [

                    {
                        field: "Id",
                        title: "عملیات",
                        width: 105,
                        template: function (e) {
                            var btn = `
                                                  <button type="button"
                                                                  class="ms-1 inline-block
                                                                  rounded bg-yellow-500 px-4
                                                                  pb-2 pt-2.5 text-xs
                                                                  font-medium uppercase
                                                                  leading-normal
                                                                  text-white
                                                                  hover:bg-primary-accent-300
                                                                  hover:shadow-primary-2
                                                                 "

                                                          onclick="showEditForm('${e.Id}')" >
                                              <i class="fa fa-edit"></i>
                                          </button>
                                                   <button type="button"
                                                          class="ms-1 inline-block
                                                          rounded bg-red-500 px-4
                                                          pb-2 pt-2.5 text-xs
                                                          font-medium uppercase
                                                          leading-normal
                                                          text-white
                                                          transition
                                                          duration-150
                                                          ease-in-out
                                                          hover:bg-primary-accent-300
                                                          hover:shadow-primary-2
                                                         "

                                                          onclick="deleteCompany('${e.Id}')"

                                                          >
                                                      <i class="fa fa-trash"></i>
                                                  </button>

                                        `
                            return btn;
                        },
                        attributes: {
                            style: "text-align: center;"
                        },
                    },

                    {
                        field: "AgreementNumber",
                        title: "شماره قرار داد",
                        width: 105,
                        attributes: {
                            style: "text-align: center;"
                        },
                    }, {
                        field: "CompanyName",
                        title: "نام شرکت",
                        width: 300,
                        attributes: {
                            style: "text-align: center;"
                        },
                    }, {
                        field: "AgreementDate",
                        title: "تاریخ قرارداد",
                        template: kendo.template("#= convertToJalaliDate(AgreementDate)#"),
                        width: 105,
                        attributes: {
                            style: "text-align: center;"
                        },
                    }, {
                        field: "ExpirationDate",
                        title: "تاریخ پایان قرارداد",
                        template: kendo.template("#= convertToJalaliDate(ExpirationDate)#"),

                        width: 105,
                        attributes: {
                            style: "text-align: center;"
                        },
                    },
                    {
                        field: "AgreementPeriod",
                        title: "مدت  قرارداد",
                        width: 105,
                        attributes: {
                            style: "text-align: center;"
                        },
                    }
                ],
            });



        }

        function refreshGrid() {
            $("#CompanyGrid").data("kendoGrid").dataSource.read();
        }

        function showEditForm(id) {
            ShowPopup(null, "/Define/Companies/Edit?id=" + id, 'تصویر', "600px", "auto", refreshGrid)

            // ShowPopup("#window", "/Define/Companies/Edit?id=" + id, "اضافه کردن شرکت جدید", "600px", "auto", refreshGrid)
        }
        function deleteCompany(id) {
            Swal.fire({
                title: "با حذف این شرکت تمام اطلاعات مربوط به ۀن حذف میشود،?",

                showCancelButton: true,
                confirmButtonText: "حذف کن !",
                cancelButtonText: `انصراف`
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/Define/Companies/Delete?id=" + id,
                        type:'post',
                        beforeSend: function (xhr) {

                        }
                    })
                        .done(function (data) {
                            Swal.fire("حذف شد", "", "success");
                        });

                }
            });
        }
    </script>
}